body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0077b6;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.invitation {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.invitation p {
    margin-bottom: 15px;
}

.invitation p:last-child {
    margin-bottom: 0;
}

.invitation a {
    color: #0077b6;
    text-decoration: none;
    font-weight: bold;
}
